alpyca == 2.0.4
astroplan == 0.9.1
astropy == 6.0.1
astroquery == 0.4.7
astroscrappy == 1.1.0
ccdproc == 2.4.1
click == 8.1.7
cmcrameri == 1.8
markdown == 3.6
matplotlib == 3.8.3
numpy == 1.26.4
paramiko == 3.4.0
photutils == 1.11.0
prettytable == 3.10.0
pywin32 == 306;platform_system=='Windows'
scikit-image == 0.22.0
scipy == 1.13.0
smplotlib == 0.0.9
timezonefinder == 6.5.0
tksheet == 7.1.5
tqdm == 4.66.2
