alpyca == 2.0.4
astroplan == 0.9.1
astropy == 5.3.3
astroquery == 0.4.6
astroscrappy == 1.1.0
click == 8.1.7
cmcrameri == 1.7.0
markdown == 3.4.4
matplotlib == 3.8.0
numpy == 1.26.0
paramiko == 3.3.1
photutils == 1.9.0
prettytable == 3.9.0
pywin32 == 306;platform_system=='Windows'
scikit-image == 0.21.0
scipy == 1.11.3
smplotlib == 0.0.9
timezonefinder == 6.2.0
tksheet == 6.2.4
tqdm == 4.66.1
