[telrun]
queue_fname = None
dome_type = None
initial_home = True
wait_for_sun = True
max_solar_elev = -12.0
check_safety_monitors = True
wait_for_cooldown = False
default_readout = 0
check_block_status = True
update_block_status = True
write_to_status_log = True
status_log_update_interval = 60.0
wait_for_block_start_time = True
max_block_late_time = 60.0
preslew_time = 60.0
hardware_timeout = 120.0

[autofocus]
# in seconds, -1 to disable
autofocus_interval = -1.0
autofocus_initial = False
autofocus_exposure = 5.0
autofocus_midpoint = 0.0
autofocus_nsteps = 5
autofocus_step_size = 500
autofocus_use_current_pointing = False
autofocus_timeout = 180.0
autofocus_filters = R, G, B, C, H, O

[recenter]
recenter_initial_offset_dec = 0.0
recenter_check_and_refine = True
recenter_max_attempts = 5
recenter_tolerance = 3.0
recenter_exposure = 10.0
recenter_save_images = False
recenter_save_path = /Users/will/Library/CloudStorage/Dropbox/research/macro/pyscope/my_test/images/recenter
recenter_sync_mount = False
recenter_timeout = 180.0
recenter_filters = R, G, B, C, H, O

[wcs]
wcs_timeout = 30.0
wcs_filters = R
